<div class="flex">

  <div class=" font-semibold flex-none text-3xl mb-6 s ml-6 mt-20 md:ml-44 transition-all">
    <h1>
      {{title}} <span class=" text-gray-500">{{description}}</span>
    </h1>
  </div>

</div>


<div class="carousel-container w-[1350px] ">
  <button class="button-prev rounded-full bg-gray-200 hover:bg-gray-500 ml-2
    text-white w-12 h-12 hover:flex hover:transition-all items-center justify-center transition duration-300" (click)="prevSlide()">
    <svg class="w-12 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
      stroke="currentColor">
      <path stroke-linecap="round" d="M15 19l-7-7 7-7"></path>
    </svg>
  </button>

  <owl-carousel-o #carousel [options]="customOptions">
    <ng-template carouselSlide *ngFor="let item of carouselItems" class="text-sm font-semibold" >
      <div class="cursor-pointer relative text-start px-5 py-6 ml-4 md:ml-44 w-[400px] h-[505px]"
        target="_blank " >
        <img class="rounded-3xl h-[505px] absolute inset-0 -z-10" [src]="item.image">
        <p class="text-xs font-semibold text-gray-400">
          {{item.description}}
        </p>
        <h1 class="font-bold mt-2 text-3xl " [ngClass]="{'text-white': item.bgcolor == 'black', 'text-black': item.bgcolor == 'white'}">
          {{item.title}}
        </h1>
        <p class="text-lg" [ngClass]="{'text-white': item.bgcolor == 'black', 'text-black': item.bgcolor == 'white'}"> {{item.value}}
        </p>
      </div>
    </ng-template>
  </owl-carousel-o>

  <button class="button-next block rounded-full bg-gray-200 hover:bg-gray-500
    text-white w-12 h-12 items-center justify-center transition duration-300"
    (click)="nextSlide()">
    <svg class="w-12 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
      stroke="currentColor">
      <path stroke-linecap="round" d="M9 5l7 7-7 7"></path>
    </svg>
  </button>
</div>
