<div class="flex">

  <div class=" font-semibold flex-none text-3xl mb-6 s ml-6 mt-20 md:ml-44 transition-all">
    <h1>
      {{TituloBlackc}} <span class=" text-gray-500">{{TituloGray}} </span>
    </h1>
  </div>

</div>


<div class=" space-x-24 flex ">

  <div class="flex flex-row ml-6 ">
    <div class="relative w-[420px] " >
      <a class="cursor-pointer" target="_blank"
        href="https://www.apple.com/br/shop/buy-iphone/iphone-14-pro">
        <img class=" rounded-2xl absolute inset-0 object-cover" src="../../../assets/img/carrossel/6phones.jpg" >
        <div class="absolute inset-0 m-6">
          <p class="text-xs font-semibold mb-3 text-gray-500">
            IPHONE 14
          </p>
          <h1 class="font-semibold text-3xl mb-1">
            Maravilindo.
          </h1>
          <p class="text-lg">
            A partir de R$ 7.599
          </p>
        </div>
      </a>
    </div>

    <div class="relative w-[420px]">
      <a class="cursor-pointer" target="_blank"
        href="https://www.apple.com/br/shop/buy-ipad/ipad">
        <img class=" rounded-2xl absolute inset-0 object-cover"
        src="../../../assets/img/carrossel/iMac.jpg">
        <div class="absolute inset-0 m-6">
          <p class="text-xs font-semibold mb-3 text-gray-500">
            IPAD
          </p>
          <h1 class="font-semibold text-3xl mb-1">
            Inspira. Desenha. Diverte
          </h1>
          <p class="text-lg">
            A partir de R$ 5.299
          </p>
        </div>
      </a>
    </div>

    <div class="relative w-[420px] ">
      <a class="cursor-pointer" target="_blank"
        href="https://www.apple.com/br/shop/buy-watch/apple-watch">
        <img class=" rounded-2xl absolute inset-0 object-cover"
        src="../../../assets/img/carrossel/8relogio.jpg">
        <div class="absolute inset-0 m-6">
          <p class="text-xs font-semibold mb-3 text-gray-500">
            APPLE WATCH SE
          </p>
          <h1 class="font-semibold text-3xl mb-1">
            Para amar cada segundo.
          </h1>
          <p class="text-lg">
            A partir de R$ 3.399
          </p>
        </div>
      </a>
    </div>

    <div class="relative w-[420px]">
      <a class="cursor-pointer" target="_blank"
        href="https://www.apple.com/br/shop/buy-iphone/iphone-14-pro">
        <img class=" rounded-2xl absolute inset-0 object-cover"
        src="../../../assets/img/carrossel/4phone.jpg">
        <div class="absolute inset-0 m-6 text-white">
          <p class="text-xs font-semibold mb-3 ">
            IPHONE 14 PRO
          </p>
          <h1 class="font-semibold text-3xl mb-1">
            Pro. E além.
          </h1>
          <p class="text-lg">
            A partir de R$ 9.599
          </p>
        </div>
      </a>
    </div>

    <div class="relative w-[420px] ">
      <a class="cursor-pointer" target="_blank"
         href="https://www.apple.com/br/shop/buy-ipad/ipad-pro">
        <img class="rounded-2xl absolute inset-0 object-cover"
        src="../../../assets/img/carrossel/iPadPro.jpg">
        <div class="absolute inset-0 m-6 text-white">
          <p class="text-xs font-semibold mb-3">
            IPAD PRO
          </p>
          <h1 class="font-semibold text-3xl mb-1">
            Com a potência do M2.
          </h1>
          <p class="text-lg">
            A partir de R$ 9.799
          </p>
        </div>
      </a>
    </div>

    <div class="relative w-[420px] ">
      <a class="cursor-pointer" target="_blank"
        href="https://www.apple.com/br/shop/buy-watch/apple-watch-ultra">
        <img class=" rounded-2xl absolute inset-0 object-cover"
        src="../../../assets/img/carrossel/3relógio.jpg">
        <div class="absolute inset-0 m-6">
          <p class="text-xs font-semibold mb-3 text-gray-500">
            APPLE WATCH ULTRA
          </p>
          <h1 class="font-semibold text-3xl mb-1">
            A aventura te espera.
          </h1>
          <p class="text-lg">
            A partir de R$ 10.299
          </p>
        </div>
      </a>

    </div>

    <div class="relative w-[420px] ">
      <a class="cursor-pointer" target="_blank"
        href="https://www.apple.com/br/shop/buy-ipad/ipad-pro">
        <img class=" rounded-2xl absolute inset-0 object-cover"
        src="../../../assets/img/carrossel/iPad.jpg">
        <div class="absolute inset-0 m-6 text-white">
          <p class="text-xs font-semibold mb-3 ">
            MACBOOK PRO DE 14 E 16 POL.
          </p>
          <h1 class="font-semibold text-3xl mb-1 ">
            Desbrava fronteiras. Derruba barreiras.
          </h1>
          <p class="text-lg">
            A partir de R$ 23.999
          </p>
        </div>
      </a>
    </div>

    <div class="relative w-[420px] h-[600px] ">
      <a class="cursor-pointer" target="_blank"
        href="https://www.apple.com/br/shop/buy-mac/mac-mini">
        <img class=" rounded-2xl absolute inset-0 object-cover"
        src="../../../assets/img/carrossel/MecMin.jpg">
        <div class="absolute inset-0 m-6 text-white">
          <p class="text-xs font-semibold mb-3 ">
            MAC MINI
          </p>
          <h1 class="font-semibold text-3xl mb-1">
            Mais músculo. Mais cérebro.
          </h1>
          <p class="text-lg">
            A partir de R$ 7.499
          </p>
        </div>
      </a>
    </div>

    <div class="relative w-[420px] ">
      <a class="cursor-pointer" target="_blank"
        href="https://www.apple.com/br/shop/watch/bands">
        <img class=" rounded-2xl absolute inset-0 object-cover"
        src="../../../assets/img/carrossel/pulseiras.jpg">
        <div class="absolute inset-0 m-6">
          <p class="text-xs font-semibold mb-3 text-gray-500">
            ACESSÓRIOS
          </p>
          <h1 class="font-semibold text-3xl mb-1">
            Novas cores. <br> Todos os estilos.
          </h1>
          <p class="text-lg">
            A partir de R$ 7.599
          </p>
        </div>
      </a>
    </div>
  </div>

</div>
