<div class="flex flex-row mb-24 space space-x-40 "  >

  <h1 class=" font-semibold flex-none ml-6 md:ml-44 text-5xl transition-all">Loja.
    <span class="text-gray-500">
      O melhor jeito de <br>
      comprar o que você ama.
    </span>
  </h1>

  <div class="flex-none space-y-2 text-base">

    <div class="flex flex-row  ">
      <img class="w-9 h-9 mt-2 mr-2"
      src="../../../assets/img/lola e logo/perfil.jpg">
      <div>
        <h2 class="font-medium">Precisa de ajuda para comprar?</h2>
        <a class="text-blue-600"
          href="https://contactretail.apple.com/Help">
          Fale com um especialista
        </a>
      </div>
    </div>

    <div class="flex flex-row ">
      <img class="w-7 h-8 mt-2 mr-3 "
      src="../../../assets/img/lola e logo/chatt.jpeg">
      <div>
        <h2 class="font-medium">Visite uma Apple Store</h2>
        <a class="text-blue-600 "
          href="https://www.apple.com/br/retail/">
          Visite uma loja perto de você >
        </a>
      </div>
    </div>

  </div>

</div>



<owl-carousel-o class=" flex  text-center md:ml-44 transition-all" >

  <ng-template carouselSlide class="text-sm font-semibold ">
    <div class="slide w-[130px]">
      <a target="_blank" href="https://www.apple.com/br/shop/buy-mac">
      <img class=" mb-4" src="../../../assets/img/lola e logo/monitor.png">Mac</a>
    </div>
  </ng-template>

  <ng-template carouselSlide class="text-sm font-semibold ">
    <div class="slide w-[130px]">
      <a target="_blank" href="https://www.apple.com/br/shop/buy-iphone">
      <img class=" mb-4" src="../../../assets/img/lola e logo/quatrocell.png">iPhone</a>
    </div>
  </ng-template>

  <ng-template carouselSlide class="text-sm font-semibold " >
    <div class="slide w-[130px]">
      <a target="_blank" href="https://www.apple.com/br/shop/buy-ipad">
      <img class="mb-4" src="../../../assets/img/lola e logo/iped.png" >iPad</a>
    </div>
  </ng-template>

  <ng-template carouselSlide class="text-sm font-semibold " >
    <div class="slide w-[130px]">
      <a target="_blank" href="https://www.apple.com/br/shop/buy-watch">
      <img class="mr-6 mb-4" src="../../../assets/img/lola e logo/relógio.png">Apple Watch</a>
    </div>
  </ng-template>

  <ng-template carouselSlide class="text-sm font-semibold ">
    <div class="slide w-[130px]">
      <a target="_blank" href="https://www.apple.com/br/airpods/">
      <img class=" mb-4" src="../../../assets/img/lola e logo/airpods.png" >AirPods</a>
    </div>
  </ng-template>

  <ng-template carouselSlide class="text-sm font-semibold" >
    <div class="slide w-[130px]">
      <a target="_blank" href="https://www.apple.com/br/shop/accessories/all/airtag">
      <img class=" mb-4" src="../../../assets/img/lola e logo/raster.png">AirTag</a>
    </div>
  </ng-template>

  <ng-template carouselSlide class="text-sm font-semibold ">
    <div class="slide w-[130px]">
      <a target="_blank" href="https://www.apple.com/br/apple-tv-4k/">
      <img class=" mb-4" src="../../../assets/img/lola e logo/controle.png">Apple TV 4K</a>
    </div>
  </ng-template>

  <ng-template carouselSlide class="text-sm font-semibold " >
    <div class="slide w-[130px]">
      <a target="_blank" href="https://www.apple.com/br/shop/accessories/all">
      <img class=" mb-4" src="../../../assets/img/lola e logo/doisiphones.png" >Acessórios</a>
    </div>
  </ng-template>

</owl-carousel-o>
