<div class="ml-48 mr-44 mb-2">
  <h1 class="text-3xl font-semibold mb-6">
    Links rápidos
  </h1>
  <div class="flex flex-row mb-12 space-x-4">
    <a class="bg-slate-200 rounded-full p-2" href="https://secure6.store.apple.com/br/shop/signIn/orders?ssi=1AAABiK0b8XYgWJRhOl2ybP92wAi29Hq2JlEvgR6p72EzAt1lOzHJM7kAAAA0aHR0cHM6Ly9zZWN1cmU2LnN0b3JlLmFwcGxlLmNvbS9ici9zaG9wL29yZGVyL2xpc3R8fAACAbJH4imYy2oa-mKx7V_0Pmbas4Cl1ymD6eA3XNcEqrxv">Status do seu pedido</a>
    <a class="bg-slate-200 rounded-full p-2" href="https://www.apple.com/br/shop/help">Ajuda para coprar</a>
    <a class="bg-slate-200 rounded-full p-2" href="https://www.apple.com/br/shop/help/returns_refund">Devoluções</a>
    <a class="bg-slate-200 rounded-full p-2" href="xwzXMimaBLJ_zMcLouhffH2SR1Lb2doeIUgfyoAAAApaHR0cHM6Ly93d3cuYXBwbGUuY29tL2JyL3Nob3AveW91cnNhdmVzfHwAAgFO1Bi5gr34lq2YA5vT2nl4YfjBR9YGwyC713EZE8zpmQ">Itens salvos</a>
  </div>
  <p class="text-xs text-slate-600 mb-4">
    ° R$ 14,90 por mês após o período de teste gratuito. Apenas uma oferta por ID Apple e uma oferta por família se você fizer parte de um grupo de Compartilhamento Familiar, independentemente do número de aparelhos que você ou sua família comprarem. A oferta não está disponível para quem já tiver aceitado a oferta de um ano gratuito de Apple TV+. Oferta válida por três meses a partir da data de ativação do aparelho qualificado. A assinatura é renovada automaticamente até que seja cancelada. Aplicam-se outros termos e restrições.

^ Requer hardware e software compatíveis. Nem todo conteúdo está disponível em Áudio Espacial e Dolby Atmos.

* Oferta disponível por tempo limitado para novos assinantes que conectarem um aparelho qualificado a um aparelho Apple com iOS 15 ou iPadOS 15 ou posterior. Oferta válida por três meses a partir da data de emparelhamento do aparelho qualificado. A assinatura é renovada automaticamente pelo preço mensal cobrado na sua região até que seja cancelada. Aqueles que já possuem aparelhos qualificados não precisam comprar nenhum produto. A disponibilidade de serviços varia de acordo com a região. Aplicam-se outros termos e restrições.

1. Preços especiais estão disponíveis para clientes qualificados. Para saber como funciona a qualificação para preços especiais, fale com um especialista Apple em uma loja ou ligue para 0800-761-0867.

⁺ Somente para novos assinantes. R$ 21,90 por mês após o período de teste. Oferta disponível por tempo limitado para novos assinantes que conectarem um aparelho qualificado a um aparelho Apple com iOS 15 ou iPadOS 15 ou posterior. Oferta válida por três meses a partir da data de emparelhamento do aparelho qualificado. Aqueles que já possuem aparelhos qualificados não precisam comprar nenhum produto de áudio. A assinatura é renovada automaticamente até que seja cancelada. Aplicam-se outros termos e restrições.
  </p>
  <hr>
</div>

<div class="flex flex-row ml-48 mb-4 text-sm text-slate-600 space-x-4">
  <a href=""><img src="../../../assets/img/lola e logo/maçapq.jpeg"></a>
  <p class="mt-2">
   Apple Store Online
  </p>
</div>

<div class=" ml-48 text-sm mb-12 mr-44 flex space-x-16 text-slate-800">
  <ul class="flex flex-col space-y-1">
    <li class="font-semibold"> Descobrir e Comprar</li>
    <li>Loja</li>
    <li>Mac</li>
    <li>iPad</li>
    <li>iPhone</li>
    <li>Watch</li>
    <li>AirPods</li>
    <li>TV e Casa</li>
    <li>AirTag</li>
    <li>Acessórios</li>
    <ul class="flex flex-col space-y-1">
      <li class="font-semibold mt-4">Carteira da Apple</li>
      <li>Carteira</li>
      <li>Apple Pay</li>
    </ul>
  </ul>

  <ul class="flex flex-col space-y-1">
    <li class="font-semibold">Sua conta</li>
    <li>Gerenciar seu ID Apple</li>
    <li>Conta da Apple Store</li>
    <li>iCloud.com</li>

    <ul class="flex flex-col space-y-1">
      <li class="font-semibold mt-4">Entretenimento</li>
      <li>Apple One</li>
      <li>Apple TV+</li>
      <li>Apple Music</li>
      <li>Apple Arcade</li>
      <li>Apple Fitness+</li>
      <li>Apple Podcasts</li>
      <li>Livros</li>
      <li>App Store</li>
    </ul>
  </ul>

  <ul class="flex flex-col space-y-1">
    <li class="font-semibold">Apple Store</li>
    <li>Encontre uma loja</li>
    <li>Genius Bar</li>
    <li>Today at Apple</li>
    <li>Apple Camp</li>
    <li>App Apple Store</li>
    <li>Financiamento</li>
    <li>Programa de Reciclagem da Apple
    </li>
    <li>Status do seu pedido</li>
    <li>Apple Podcasts</li>
    <li>Ajuda para comprar</li>
  </ul>
  <ul class="flex flex-col space-y-1">
    <li class="font-semibold">Para Empresas</li>
    <li>Apple e os negócios</li>
    <li>Comprar para a sua empresa</li>

    <ul class="flex flex-col space-y-1">
      <li class="font-semibold mt-4">Para a Educação</li>
      <li>Apple e a Educação</li>
      <li>Comprar para Educação Básica
      </li>
      <li>Comprar para a faculdade</li>
    </ul>

    <ul class="flex flex-col space-y-1">
      <li class="font-semibold mt-4">For Healthcare></li>
      <li>Apple e a Saúde</li>
      <li>Saúde no Apple Watch</li>
    </ul>
  </ul>

  <ul class="flex flex-col space-y-1">
    <li class="font-semibold">Valores da Apple</li>
    <li>Acessibilidade</li>
    <li>Meio ambiente</li>
    <li>Privacidade</li>
    <li>Responsabilidade dos fornecedores</li>

    <ul class="flex flex-col space-y-1">
      <li class="font-semibold mt-4">Sobre a Apple</li>
      <li>Newsroom</li>
      <li>Liderança da Apple</li>
      <li>Oportunidades de Carreira</li>
      <li>Investidores</li>
      <li>Ética e Compliance</li>
      <li>Eventos</li>
      <li>Contato</li>
    </ul>
  </ul>

</div>
