<div class="ml-4 md:ml-48 md:mr-44 mb-2">
  <h1 class="text-3xl font-semibold mb-6">
    Links rápidos
  </h1>
  <div class=" mb-12 space-x-4 text-sm">
    <a class="bg-slate-200 rounded-full p-2" href="https://secure6.store.apple.com/br/shop/signIn/orders?ssi=1AAABiK0b8XYgWJRhOl2ybP92wAi29Hq2JlEvgR6p72EzAt1lOzHJM7kAAAA0aHR0cHM6Ly9zZWN1cmU2LnN0b3JlLmFwcGxlLmNvbS9ici9zaG9wL29yZGVyL2xpc3R8fAACAbJH4imYy2oa-mKx7V_0Pmbas4Cl1ymD6eA3XNcEqrxv">Status do seu pedido</a>
    <a class="bg-slate-200 rounded-full p-2" href="https://www.apple.com/br/shop/help">Ajuda para coprar</a>
    <a class="bg-slate-200 rounded-full p-2" href="https://www.apple.com/br/shop/help/returns_refund">Devoluções</a>
    <a class="bg-slate-200 rounded-full p-2" href="xwzXMimaBLJ_zMcLouhffH2SR1Lb2doeIUgfyoAAAApaHR0cHM6Ly93d3cuYXBwbGUuY29tL2JyL3Nob3AveW91cnNhdmVzfHwAAgFO1Bi5gr34lq2YA5vT2nl4YfjBR9YGwyC713EZE8zpmQ">Itens salvos</a>
  </div>
  <div class="text-sm text-slate-500 mb-4 space-y-2 block">
    <p >
      ° R$ 14,90 por mês após o período de teste gratuito. Apenas uma oferta por ID Apple e uma oferta por família se você fizer parte de um grupo de Compartilhamento Familiar, independentemente do número de aparelhos que você ou sua família comprarem. A oferta não está disponível para quem já tiver aceitado a oferta de um ano gratuito de Apple TV+. Oferta válida por três meses a partir da data de ativação do aparelho qualificado. A assinatura é renovada automaticamente até que seja cancelada. Aplicam-se outros termos e restrições. <br>
      ^ Requer hardware e software compatíveis. Nem todo conteúdo está disponível em Áudio Espacial e Dolby Atmos.
      * Oferta disponível por tempo limitado para novos assinantes que conectarem um aparelho qualificado a um aparelho Apple com iOS 15 ou iPadOS 15 ou posterior. Oferta válida por três meses a partir da data de emparelhamento do aparelho qualificado. A assinatura é renovada automaticamente pelo preço mensal cobrado na sua região até que seja cancelada. Aqueles que já possuem aparelhos qualificados não precisam comprar nenhum produto. A disponibilidade de serviços varia de acordo com a região. Aplicam-se outros termos e restrições. <br>
      1. Preços especiais estão disponíveis para clientes qualificados. Para saber como funciona a qualificação para preços especiais, fale com um especialista Apple em uma loja ou ligue para 0800-761-0867. <br>
      ⁺ Somente para novos assinantes. R$ 21,90 por mês após o período de teste. Oferta disponível por tempo limitado para novos assinantes que conectarem um aparelho qualificado a um aparelho Apple com iOS 15 ou iPadOS 15 ou posterior. Oferta válida por três meses a partir da data de emparelhamento do aparelho qualificado. Aqueles que já possuem aparelhos qualificados não precisam comprar nenhum produto de áudio. A assinatura é renovada automaticamente até que seja cancelada. Aplicam-se outros termos e restrições.
    </p>
  </div>
  <hr>
</div>

<div class="flex flex-row ml-2 md:ml-44 mb-4 text-sm text-slate-600 space-x-4">
  <a href=""><img src="../../../assets/img/lola e logo/maçapq.jpeg"></a>
  <p class="mt-2">
   Apple Store Online
  </p>
</div>

<div class="ml-4 md:ml-48 text-sm mb-12 md:mr-44 flex space-x-14 text-slate-700">
  <div class="flex flex-col space-y-2 ">
    <div class="flex flex-col space-y-2 mb-4"><span class="font-semibold">Descobrir e Comprar</span>
      <a href="https://www.apple.com/br/store">Loja</a>
      <a href="https://www.apple.com/br/mac/">Mac</a>
      <a href="https://www.apple.com/br/ipad/">iPad</a>
      <a href="https://www.apple.com/br/iphone/">iPhone</a>
      <a href="https://www.apple.com/br/watch/">Watch</a>
      <a href="https://www.apple.com/br/airpods/">AirPods</a>
      <a href="https://www.apple.com/br/tv-home/">TV e Casa</a>
      <a href="https://www.apple.com/br/airtag/">AirTag</a>
      <a href="https://www.apple.com/br/shop/accessories/all">Acessórios</a>
    </div>
    <div class="flex flex-col space-y-2 "><span class="font-semibold">Carteira da Apple</span>
      <a href="https://www.apple.com/br/wallet/">Carteira</a>
      <a href="https://www.apple.com/br/apple-pay/">Apple Pay</a>
    </div>
  </div>

  <div class="flex flex-col space-y-2 ">
    <div class="flex flex-col space-y-2 mb-4"><span class="font-semibold">Sua conta</span>
      <a href="https://appleid.apple.com/">Gerenciar seu ID Apple</a>
      <a href="https://secure4.store.apple.com/br/shop/signIn/account?ssi=1AAABiLZRPDIgiTPxU-Nv7E6OnrRrYDc4vnXrgMWbL6D-j2rLlLfJ1eoAAAA2aHR0cHM6Ly9zZWN1cmU0LnN0b3JlLmFwcGxlLmNvbS9ici9zaG9wL2FjY291bnQvaG9tZXx8AAIBDAp0L3MtNlu1hyRJzTZKoo5du3VHEeJjNrI9xAqyz2Y">Conta da Apple Store</a>
      <a href="https://www.icloud.com/">iCloud.com</a>
    </div>
    <div class="flex flex-col space-y-2 "><span class="font-semibold">Entretenimento</span>
      <a href="https://www.apple.com/br/apple-one/">Apple One</a>
      <a href="https://www.apple.com/br/apple-tv-plus/">Apple TV+</a>
      <a href="https://www.apple.com/br/apple-music/">Apple Music</a>
      <a href="https://www.apple.com/br/apple-arcade/">Apple Arcade</a>
      <a href="https://www.apple.com/br/apple-fitness-plus/">Apple Fitness+</a>
      <a href="https://www.apple.com/br/apple-podcasts/">Apple Podcasts</a>
      <a href="https://www.apple.com/br/apple-books/">Livros</a>
      <a href="https://www.apple.com/br/app-store/">App Store</a>
    </div>
  </div>

  <div class="flex flex-col space-y-2 ">
    <div class="flex flex-col space-y-2 mb-4"><span class="font-semibold">Apple Store</span>
      <a href="https://www.apple.com/br/retail/">Encontre uma loja</a>
      <a href="https://www.apple.com/br/retail/geniusbar/">Genius Bar</a>
      <a href="https://www.apple.com/br/today/">Today at Apple</a>
      <a href="https://www.apple.com/br/today/camp/">Apple Camp</a>
      <a href="https://apps.apple.com/br/app/apple-store/id375380948">App Apple Store</a>
      <a href="https://www.apple.com/br/shop/browse/finance/installment">Financiamento</a>
      <a href="https://www.apple.com/br/recycling/">Programa de Reciclagem da Apple
      </a>
      <a href="https://secure4.store.apple.com/br/shop/signIn/orders?ssi=1AAABiLZW_WwgcSDgDuJNJNDtfaS1MvTHjAzN_-jGFKXBw0kEEJ4cEjQAAAA0aHR0cHM6Ly9zZWN1cmU0LnN0b3JlLmFwcGxlLmNvbS9ici9zaG9wL29yZGVyL2xpc3R8fAACAct6kbB6BKbFJlTXUROwCAdmdgYszbuQbkb_R9DcTeQj">Status do seu pedido</a>
      <a href="https://secure4.store.apple.com/br/shop/signIn/orders?ssi=1AAABiLZW_WwgcSDgDuJNJNDtfaS1MvTHjAzN_-jGFKXBw0kEEJ4cEjQAAAA0aHR0cHM6Ly9zZWN1cmU0LnN0b3JlLmFwcGxlLmNvbS9ici9zaG9wL29yZGVyL2xpc3R8fAACAct6kbB6BKbFJlTXUROwCAdmdgYszbuQbkb_R9DcTeQj">Ajuda para comprar</a>
    </div>
  </div>

  <div class="flex flex-col space-y-2 ">
    <div class="flex flex-col space-y-2 mb-4"><span class="font-semibold">Para Empresas</span>
      <a href="https://www.apple.com/br/business/enterprise/">Apple e os negócios</a>
      <a href="https://www.apple.com/br/retail/business/">Comprar para a sua empresa</a>
    </div>
    <div class="flex flex-col space-y-2 "><span class="font-semibold">Para a Educação</span>
      <a href="https://www.apple.com/br/education/">Apple e a Educação</a>
      <a href="https://www.apple.com/br/education/k12/#how-to-buy">Comprar para Educação Básica
      </a>
      <a href="https://www.apple.com/br-hed/store">Comprar para a faculdade</a>
    </div>
    <div class="flex flex-col space-y-2 "><span class="font-semibold">For Healthcare</span>
      <a href="https://www.apple.com/br/healthcare/">Apple e a Saúde</a>
      <a href="https://www.apple.com/br/healthcare/apple-watch/">Saúde no Apple Watch</a>
    </div>
  </div>

  <div class="flex flex-col space-y-2 ">
    <div class="flex flex-col space-y-2 mb-4"><span class="font-semibold">Valores da Apple</span>
      <a href="https://www.apple.com/br/accessibility/">Acessibilidade</a>
      <a href="https://www.apple.com/br/environment/">Meio ambiente</a>
      <a href="https://www.apple.com/br/privacy/">Privacidade</a>
      <a href="https://www.apple.com/br/supplier-responsibility/">Responsabilidade dos fornecedores</a>
    </div>
    <div class="flex flex-col space-y-2 "><span class="font-semibold">Sobre a Apple</span>
      <a href="https://www.apple.com/br/newsroom/">Newsroom</a>
      <a href="https://www.apple.com/br/leadership/">Liderança da Apple</a>
      <a href="https://www.apple.com/careers/br/">Oportunidades de Carreira</a>
      <a href="https://investor.apple.com/investor-relations/default.aspx">Investidores</a>
      <a href="https://www.apple.com/compliance/">Ética e Compliance</a>
      <a href="https://www.apple.com/br/apple-events/">Eventos</a>
      <a href="https://www.apple.com/br/contact/">Contato</a>
    </div>
  </div>

</div>
