<div class="space-y-1 text-sm text-gray-600">
  <p class="text-sm ml-48">
    Outras formas de comprar: <a class="text-blue-600" href="https://www.apple.com/br/retail/">encontre uma Apple Store</a> ou <a class="text-blue-600" href="https://locate.apple.com/br/pt/">revendedor Apple</a> na sua região. Ou ligue para 0800-761-0867.
  </p>
  <hr class="ml-48 mr-44">
  <div class="ml-48 mr-44  flex flex-row justify-between">
    <p>
      Copyright © 2023 Apple Inc. Todos os direitos reservados. Apple Computer Brasil Ltda. CPNJ: 00.623.904/0003-35
    </p>
    <p>
      Brasil
    </p>
  </div>
  <p class="ml-48 mr-44 text-sm text-slate-900">
    Política de privacidade | Política de vendas | Avisos legais | Mapa do site
  </p>
</div>
