<div class="container mx-auto">
  <div class="space-y-1 text-sm text-gray-600 ml-4 w-[1345px] lg:ml-[285px] transition-all">
    <p class="text-sm ">
      Outras formas de comprar: <a class="text-blue-600" href="https://www.apple.com/br/retail/">encontre uma Apple Store</a> ou <a class="text-blue-600" href="https://locate.apple.com/br/pt/">revendedor Apple</a> na sua região. Ou ligue para 0800-761-0867.
    </p>
    <hr class="transition-all">
    <div class="  flex md:flex-row flex-col md:justify-between transition-all">
      <p class="flex-none transition-all">
        Copyright © 2023 Apple Inc. Todos os direitos reservados. Apple Computer Brasil Ltda. CPNJ: 00.623.904/0003-35
      </p>
      <p>
        Brasil
      </p>
    </div>
    <p class=" text-sm text-slate-900 transition-all">
      Política de privacidade | Política de vendas | Avisos legais | Mapa do site
    </p>
  </div>
</div>
