<div class="container mx-auto ">
  <div class="flex flex-row justify-between transition-all space-x-6 mb-20 lg:w-[1300px]
     "[ngClass]="{'menu-fixed': isFixedMenu}">

    <div class="flex-none w-4 md:w-4 mt-3 lg:ml-[280px] transition-all ">
      <a href="https://www.apple.com/br/">
        <img src="../../../assets/img/lola e logo/maçã.png" >
      </a>
    </div>

    <div class="block md:flex md:space-x-6 lg:space-x-11  absolute animation-slower
     bg-white md:relative md:bg-transparent text-3xl md:text-xs
     font-semibold  text-slate-800 z-10 transition-all
     space-y-3 md:space-y-0 p-11 md:p-3 w-[900px] h-[1600px] md:h-[0px] "
     [ngClass]="{'hidden': !menuOpened}">


      <div class=" cursor-pointer ">Loja
        <a href="https://www.apple.com/br/store"></a>
      </div>
      <div class="cursor-pointer">Mac
        <a href="https://www.apple.com/br/mac/"></a>
      </div>
      <div class="cursor-pointer">iPad
        <a href="https://www.apple.com/br/ipad/"></a>
      </div>
      <div class="cursor-pointer">iPhone
        <a href="https://www.apple.com/br/watch/"></a>
      </div>
      <div class="cursor-pointer">Watch
        <a href="https://www.apple.com/br/airpods/"></a>
      </div>
      <div class="cursor-pointer">AirPods
        <a href="https://www.apple.com/br/airpods/"></a>
      </div>
      <div class="cursor-pointer">TV e Casa
        <a href="https://www.apple.com/br/tv-home/"></a>
      </div>
      <div class="cursor-pointer">Entretenimento
        <a href="https://www.apple.com/br/services/"></a>
      </div>
      <div class="cursor-pointer">Acessórios
        <a href="https://www.apple.com/br/shop/accessories/all"></a>
      </div>
      <div class="cursor-pointer">Suporte
        <a href="https://support.apple.com/pt-br"></a>
      </div>
    </div>

    <div class="flex flex-row  space-x-6 lg:space-x-9 mt-3 mr-4 ml-12 " >

      <div class=" w-4 mt-1 -ml-24">
        <a href="https://www.apple.com/br/">
          <img src="../../../assets/img/lola e logo/lupa.png" >
        </a>
      </div>
      <div class="w-5 ">
        <a href="https://www.apple.com/br/">
          <img src="../../../assets/img/lola e logo/sacola.png" >
        </a>
      </div>

      <div class="block md:hidden cursor-pointer">
        <div class="menu-toggle relative z-10" (click)="toggleMenu()">
          <span class="block bg-gray-500 w-[16px] h-[2px] mt-2 animation-slower" *ngIf="!menuOpened"></span>
          <span class="block bg-gray-500 w-[16px] h-[2px] mt-1 animation-slower" *ngIf="!menuOpened"></span>
          <span class="rotate-x1 block bg-gray-500 w-[16px] h-[2px] mt-3 mr-4 animation-slower" [ngClass]="{'rotate-45': menuOpened}" *ngIf="menuOpened"></span>
          <span class="rotate-x2 block bg-gray-500 w-[16px] h-[2px] -mt-0.5 mr-4 animation-slower" [ngClass]="{'-rotate-45': menuOpened}" *ngIf="menuOpened"></span>
        </div>
      </div>
    </div>
  </div>
</div>


