<div class="container mx-auto">

  <div class="font-semibold flex-none text-3xl mb-6 ml-4 md:ml-56 mt-20 transition-all">
    <h1>
      A ajuda está aqui. <span class=" text-gray-500">Quando e como você precisar. </span>
    </h1>
  </div>

  <div class="flex flex-row space-x-7 ml-4 md:ml-56 transition-all">

    <div class="relative flex-none w-[480px]">
      <a class="cursor-pointer" target="_blank"
        href="https://www.apple.com/br/shop/buy-ipad/ipad">
        <img class=" rounded-2xl absolute inset-0 object-cover"
        src="../../../assets/img/carrossel/homen.jpg">
        <div class="absolute inset-0 m-6">
          <p class="text-xs font-semibold mb-3 text-gray-500">
            ESPECIALISTA DA APPLE
          </p>
          <h1 class="font-semibold text-3xl mb-1">
            Compre com a ajuda de um especialista na Apple Store ou online.
          </h1>
        </div>
      </a>
    </div>

    <div class="space-y-64">

      <div class="relative w-[490px]  ">
        <a class="cursor-pointer" target="_blank"
          href="https://www.apple.com/br/shop/buy-mac/mac-mini">
          <img class=" rounded-2xl absolute inset-0 object-cover"
          src="../../../assets/img/carrossel/items.jpg">
          <h1 class="absolute inset-0 m-7 font-semibold mt-12 text-2xl">
            Conheça seu novo aparelho com uma Sessão Personalizada gratuita.
          </h1>
        </a>
      </div>

      <div class="relative w-[490px] ">
        <a class="cursor-pointer" target="_blank"
          href="https://www.apple.com/br/shop/watch/bands">
          <img class=" rounded-2xl absolute inset-0 object-cover"
          src="../../../assets/img/carrossel/react.jpg">
          <h1 class="absolute inset-0 m-7 mt-12 font-semibold text-2xl">
            Receba <br> assistência <br> técnica e supote <br> no Genius Bar.
          </h1>
        </a>
      </div>
    </div>
  </div>

  <div class="flex container mx-auto ml-4 mt-80 transition-all -mb-8">
    <h1 class="flex-none font-semibold text-3xl tracking-tighter lg:ml-[260px]">
      Na Apple Store, é diferente. <span class=" text-gray-500 "> Ainda mais motivos para comprar com a gente.</span>
    </h1>
  </div>



  <div class="flex flex-row container mx-auto text-2xl font-semibold ml-12 md:ml-48 space-x-6 m-14 transition-all lg:ml-[290px]">
    <div class="flex-none w-[310px] rounded-2xl bg-white">
      <a target="_blank"
        href="https://www.apple.com/br/shop/shipping-pickup">
        <img class="ml-6 mt-7 w-[42px]" src="../../../assets/img/lola e logo/caixa.png" >
        <p class="ml-7 mt-3 ">
          Frete gratis em todos <br> os pedidos.
        </p>
      </a>
    </div>
    <div class="flex-none w-[310px] rounded-2xl bg-white">
      <a target="_blank"
        href="https://www.apple.com/br/shop/browse/finance/installment" >
        <img class="ml-6 mt-7 w-[42px]" src="../../../assets/img/lola e logo/icons8-parte-traseira-de-cartão-de-banco-100.png" >
        <p class="ml-6">
          Várias opções de parcelamento.
        </p>
      </a>
    </div>
    <div class="flex-none w-[310px] rounded-2xl h-[238px] bg-white">
      <a target="_blank"
        href="https://www.apple.com/br/store?afid=p238%7CsikJb1MHC-dc_mtid_1870765e38482_pcrid_649520934899_pgrid_17049243418_pntwk_g_pchan__pexid__&cid=aos-br-kwgo-brand--slid---product-">
        <img class="ml-6 mt-7 w-[42px]"src="../../../assets/img/lola e logo/sacola.jpeg" >
        <p class="ml-6">
          Tenha uma experiência <br>
          <span class="text-blue-600">
            de compra <br> personalizada <span class="text-black">com o</span> <br> app Apple Store
          </span>
        </p>
      </a>
    </div>
  </div>
</div>
